#mydiv{
    border: 1px black solid;
    border-radius: 8px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    
    bor
}