#parent{
   
    padding: 20px;
    width: 50%;
    position: relative;
            }

        #one{   
                height: 100px;
                width: 100px;
                background-color: green;
                display: inline-block;
                position: relative;
                z-index: 2;
            }
    
            #Two{
                height: 100px;
                width: 100px;
                background-color: blue;
                display: inline-block;
                position: relative;
                top: 50px;
                left: -50px;
             z-index: 3;
            }
    
            #Three{
                height: 100px;
                width: 100px;
                background-color: black;
                display: inline-block;
                position: relative;
                top: 100px;
                left: -100px;
                 z-index: 1;
            }